---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Macarena Guzman";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My portfolio</h2>
  <Greeting client:load messages={["Hi", "Hola", "Oi"]} />
</BaseLayout>